{% extends 'main.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}<title>Змінити пароль</title>{% endblock title %}

{% block description %}<meta name="robots" content="noindex, nofollow">{% endblock description %}

{% block content %}
<h1>Зміна пароля</h1>
<p>Будь ласка, введіть свій старий пароль для безпеки. І потім, введіть двічі новий пароль, зоб ми могли ідентифікувати правельність ведення даних.</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Змінити пароль</button>
</form>
{% endblock content %}