{% extends 'main.html' %}

{% block title %}<title>Перевірьте пошту</title>{% endblock title %}
{% block description %}<meta name="robots" content="noindex, nofollow">{% endblock description %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 text-center">
            <h1>Перевірьте пошту</h1>
            <p>Ми надіслали Вам листа з інструкцією по відновленню паролю. Перевірьте вхідні листи, при потребі перевірьте папку спам!</p>
        </div>
    </div>
</div>


{% endblock content %}