{% extends 'main.html' %}
{% load static %}

{% block title %}
    <title>Car+ - контакти інтернет магазина б\у та нових автошин.</title>
{% endblock title %}

{% block description %}
    <meta name="description" content="">
{% endblock description %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Шиномонтаж Погреби</h1>
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="14" class="text-center text-uppercase">Легкові автівки</th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">R13</th>
                            <th scope="col">R14</th>
                            <th scope="col">R14<sup style="color:red;">*Л</sup></th>
                            <th scope="col">R15</th>
                            <th scope="col">R15<sup style="color:red;">*Л</sup></th>
                            <th scope="col">R16</th>
                            <th scope="col">R16<sup style="color:red;">*Л</sup></th>
                            <th scope="col">R17</th>
                            <th scope="col">R18</th>
                            <th scope="col">R19</th>
                            <th scope="col">R20</th>
                            <th scope="col">R21</th>
                            <th scope="col">R22</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>100</td>
                            <td>110</td>
                            <td>130</td>
                            <td>130</td>
                            <td>150</td>
                            <td>150</td>
                            <td>170</td>
                            <td>180</td>
                            <td>200</td>
                            <td>220</td>
                            <td>240</td>
                            <td>260</td>
                            <td>280</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>400</td>
                            <td>440</td>
                            <td>520</td>
                            <td>520</td>
                            <td>600</td>
                            <td>600</td>
                            <td>680</td>
                            <td>720</td>
                            <td>800</td>
                            <td>880</td>
                            <td>960</td>
                            <td>1040</td>
                            <td>1120</td>
                        </tr>
                        <tr>
                            <th colspan="14"><span style="color:red;">*Л</span> - вартість за переобувку литих дисків.</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="10" class="text-center text-uppercase">Джип, Кроссовер, SUV, 4x4, Мікроавтобуси</th>
                        </tr>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">R14</th>
                            <th scope="col">R15</th>
                            <th scope="col">R16</th>
                            <th scope="col">R17</th>
                            <th scope="col">R18</th>
                            <th scope="col">R19</th>
                            <th scope="col">R20</th>
                            <th scope="col">R21</th>
                            <th scope="col">R22</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>130</td>
                            <td>175</td>
                            <td>200</td>
                            <td>225</td>
                            <td>250</td>
                            <td>275</td>
                            <td>300</td>
                            <td>325</td>
                            <td>375</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>520</td>
                            <td>700</td>
                            <td>800</td>
                            <td>900</td>
                            <td>1000</td>
                            <td>1100</td>
                            <td>1200</td>
                            <td>1300</td>
                            <td>1500</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="5" class="text-center text-uppercase">Легкогрузові</th>
                        </tr>  
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">R14С</th>
                            <th scope="col">R15С</th>
                            <th scope="col">R16С</th>
                            <th scope="col">R17С</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>175</td>
                            <td>200</td>
                            <td>225</td>
                            <td>250</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>700</td>
                            <td>800</td>
                            <td>900</td>
                            <td>1000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td colspan="2"><sup style="color:red;">*</sup>Ціни вказані за базовий комплекс робіт. Вартість додаткових послуг \ матеріалів нараховується до шиномонтажу</td>
                        </tr>
                        <tr>
                            <td><sup style="color:red;">**</sup>Заміна шин з профілем <u>45</u> і нижче (шт)</td>
                            <td>+35</td>
                        </tr>
                        <tr>
                            <td><sup style="color:red;">***</sup>Заміна шин з технологією <u>RunFlat</u> (шт)</td>
                            <td>+50</td>
                        </tr>
                        <tr>
                            <td><sup style="color:red;">****</sup>Наявність датчиків тиску</td>
                            <td>+35</td>
                        </tr>
                        <td colspan="2"><sup style="color:red;">*****</sup>Знижка на додаткову вартість не розповсюджується</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h2>Вартість окремих послуг шиномонтажу</h2>
        </div>

        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead> 
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">R13-R14</th>
                            <th scope="col">R15</th>
                            <th scope="col">R16</th>
                            <th scope="col">R17-R18</th>
                            <th scope="col">R19-R20</th>
                            <th scope="col">R21-R22</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Шиномонтаж</th>
                            <td>40</td>
                            <td>55</td>
                            <td>60</td>
                            <td>75</td>
                            <td>85</td>
                            <td>105</td>
                        </tr>
                        <tr>
                            <th scope="row">Балансування</th>
                            <td>35</td>
                            <td>40</td>
                            <td>50</td>
                            <td>65</td>
                            <td>75</td>
                            <td>95</td>
                        </tr>
                        <tr>
                            <th scope="row">Зняття \ Втсановлення</th>
                            <td>40</td>
                            <td>45</td>
                            <td>50</td>
                            <td>55</td>
                            <td>65</td>
                            <td>75</td>
                        </tr>
                        <tr>
                            <td colspan="7" class="text-danger">Додатково нараховується вартість на певні категорії шин та матеріали</td>
                        </tr>
                        <tr>
                            <td colspan="5"><sup style="color:red;">*</sup>SUV, 4x4, Легкогрузові (С) <u>(нараховується додатково до кожної послуги)</u></td>
                            <td colspan="2">+15</td>
                        </tr>
                        <tr>
                            <td colspan="5"><sup style="color:red;">**</sup>RunFlat та шин з профілем 45 і нижче <u>(нараховується тільки до шиномонтажу)</u></td>
                            <td colspan="2">+50</td>
                        </tr>
                        <tr>
                            <td colspan="5"><sup style="color:red;">***</sup>Встановлення клеючого тягарця, смужки 60грн/шт <u>(нараховується до загальної вартості робіт)</u></td>
                            <td colspan="2">+20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h2>Вулканізація та інше</h2>
        </div>
        <div class="col-lg-6 col-sm-12 col-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Вулканізація</th>
                            <th scope="col">Вартість</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Пластир UP-3</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Пластир UP-4.5</td>
                            <td>70</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Пластир UP-6</td>
                            <td>90</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Пластир UP-8</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Пластир 110 TL 35x75mm</td>
                            <td>150</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Пластир 115 TL 75x90mm</td>
                            <td>180</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Пластир 116 TL 75x110mm</td>
                            <td>220</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Пластир 114 TL 85x130mm</td>
                            <td>250</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Пластир 120 TL 20x125mm</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Пластир 122 TL 75x175mm</td>
                            <td>360</td>
                        </tr>
                        <tr>
                            <th scope="row">11</th>
                            <td>Ремонт шнурком</td>
                            <td>50</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-lg-6 col-sm-12 col-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead> 
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Різне</th>
                            <th scope="col">Вартість</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Монтаж вентиль резиновий</td>
                            <td>40</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Монтаж вентиль металічний</td>
                            <td>75</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Монтаж датчику тиску</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Відновлення різьби на вентелі</td>
                            <td>200</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Перевірка витоку повітря</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Монтаж автокамер R13-R15</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Чистка ступіци з нанесенням мідного мастила</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Чищення диску</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Оптимізація шина/диск</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>Обтягування колес д.ключем</td>
                            <td>10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}