<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    </head>
    <body>
      {{ counter }} - <a href="/old/update/">Update</a>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Width</th>
                <th scope="col">Height</th>
                <th scope="col">Radius</th>
                <th scope="col">Brand</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Season</th>
                <th scope="col">Country</th>
                <th scope="col">Year</th>
                <th scope="col">In Stock</th>
                <th scope="col">Price One</th>
                <th scope="col">Price Two</th>
                <th scope="col">Price Three</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
              </tr>
            </thead>
            <tbody>
                {% for obj in old_records %}
                        <tr>
                        <th scope="row">{{ obj.id }}</th>
                        <td>{{ obj.width }}</td>
                        <td>{{ obj.height }}</td>
                        <td>{{ obj.radius }}</td>
                        <td>{{ obj.brand }}</td>
                        <td>{{ obj.description }}</td>
                        <td>{{ obj.category }}</td>
                        <td>{{ obj.season }}</td>
                        <td>{{ obj.country }}</td>
                        <td>{{ obj.year }}</td>
                        <td>{{ obj.in_stock }}</td>
                        <td>{{ obj.price_one }}</td>
                        <td>{{ obj.price_two }}</td>
                        <td>{{ obj.price_three }}</td>
                        <td>{{ obj.created }}</td>
                        <td>{{ obj.updated }}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          {{ today }}


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>