<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        {% block title %}{% endblock title %}

        {% block description %}{% endblock description %}

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="{% static 'admin/css/main.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
        <link rel="icon" href="{% static 'admin/img/favicon/favicon.ico' %}" sizes="any"> <!-- 32×32 -->
        <link rel="icon" href="{% static 'admin/img/favicon/favicon-16x16.png' %}" sizes="16x16">
        <link rel="icon" href="{% static 'admin/img/favicon/favicon-32x32.png' %}" sizes="32x32">
        <link rel="apple-touch-icon" href="{% static 'admin/img/favicon/apple-touch-icon.png' %}"> <!-- 180×180 -->
        <link rel="manifest" href="{% static 'admin/img/favicon/site.webmanifest' %}">

        <!-- Select css -->
        <link rel="stylesheet" href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css">

        {% block scheme_org %}{% endblock scheme_org%}

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-VM9WT22VW2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-VM9WT22VW2');
        </script>

    </head>
    <body id="to-top">
    <div class="container-fluid sticky-top">
    <div class="row">
        
        <div class="container-fluid text-light bg-container">
            <div class="container" style="font-size:12px;font-family: 'Rubik', sans-serif;font-weight:600;">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6 text-left">
                        ПН-СБ: 9:00 - 18:00<br>
                        НД: 10:00 - 16:00
                    </div>
                    <div class="col-6 pt-2 d-none d-sm-none d-md-block text-center">
                        <u>Адреса:</u> Троєщина - с.Погреби, вул. Єдності, 94 (Броварський р-н)
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-6 pt-2 pr-0 text-right phone" style="line-height:14px;">
                        <a href="tel:0991293949" rel="nofollow">(099) 129 39 49</a><br />
                        <span><i style="color:red;">*</i>відділ продажу нових шин</span>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

        <nav class="navbar navbar-expand-lg navbar-light ftco_navbar bg-light ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="{% static 'admin/img/logo.png' %}" alt="Лототип шиного центру Car+" title="Логотип шинного центру Car+"></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Меню
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav m-auto">
                        <!-- <li class="nav-item active"><a href="#" class="nav-link">Про нас</a></li> -->
                        <li class="nav-item"><a href="/#shyny_bu" class="nav-link">Шини б/в</a></li>
                        <li class="nav-item"><a href="/new-tires" class="nav-link" style="color:green;">Нові шини</a></li>
                        <li class="nav-item"><a href="/shyny-bu-rozparovka" class="nav-link">Розпаровка<sup style="color:red;">-1-</sup></a></li>
                        <li class="nav-item"><a href="/shynomontash-pogreby" class="nav-link">Шиномонтаж</a></li>
                        <li class="nav-item"><a href="#" class="nav-link">Оплата / Доставка</a></li>
                        <li class="nav-item"><a href="/contact" class="nav-link">Контакти</a></li>
                    </ul>
                </div>
                
                <!-- <div class="form-inline my-2 my-lg-0">
                
                    <a href="#">
                        <img id="cart-icon" src="{% static 'admin/img/icons/trash.png' %}">
                    </a>
                    <p id="cart-total">0</p>
                
                </div> -->
            </div>
        </nav>

        <div class="container-fluid m-0 p-0">
            {% block content %}

            {% endblock content %}
        </div>

        <div class="container-fluid bg-container text-light">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-7 col-lg-7 col-12 mt-4 mb-4 call-back ">
                        <span>Залиште номер телефону, і ми перетелефонуємо Вам!</span>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-12 mt-4 mb-4 ">
                        <form class="form-inline">
                            <div class="form-groupa">
                              <label for="inputTel" class="sr-only">380</label>
                              <input type="number" class="form-control" id="inputTel" placeholder="+380">
                            </div>
                            <button type="submit" class="btn btn-primary">Залишити</button>
                          </form>
                    </div>
                </div>
            </div>
            <div class="container border-bottom border-secondary" style="font-size:14px;">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-12 mb-2">
                        <a href="#" class="text-muted mb-2">Інформація:</a><br/><br/>
                        <div class="row">
                            <div class="col-6"><a href="#" class="text-white">Про нас</a></div>
                            <div class="col-6"><a href="#" class="text-white">Шини б/в</a></div>
                            <div class="col-6"><a href="/new-tires" class="text-white" style="color:green;">Нові шини</a></div>
                            <div class="col-6"><a href="#" class="text-white">Шиномонтаж</a></div>
                            <div class="col-6"><a href="#" class="text-white">Оплата/Доставка</a></div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-12 mb-2 phone" style="line-height:14px;">
                        Контакти:<br/><br/>
                        <a href="tel:0991293949" rel="nofollow">(099) 129 39 49</a><br />
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-12 mb-2">
                        <a href="#" class="text-muted mb-2">Адрес:</a><br/><br/>
                        Троєщина-Погреби,<br/>
                        вул. Єдності, 94<br>
                        Броварський р-н<br>
                        e-mail@gmail.com
                    </div>
                </div>
            </div>
            <div class="container justify-content-between text-muted">
                <div class="row">
                    <div class="col text-left">
                        
                    </div>
                    <div class="col text-center">
                        <img src="https://kitabooki.com.ua/image/vmc.png" alt="Visa/Mastercard" title="Visa/Mastercard" style="width:35px;">
                    </div>
                    <div class="col text-right">
                        Copyright © 2023
                    </div>
                </div>
            </div>
        </div>

        <div class="row-up">
            <a href="#to-top">
                <i class="bi bi-arrow-up-square-fill"></i>
            </a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        
        
        
        <script>
            const myCarousel = new Carousel(document.querySelector(".carousel"), {
            // Options
            });
        </script>

        <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
        <script src="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.js"></script>
        <script>
            $(function () {
                $('select').multipleSelect()
            })
        </script>
        
    </body>
</html>